<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Profile{% endblock %}


{% block content %}


  <center>
  <br>
  <br>
  <font size="6"
          face="arial"
          color="black">
  Float - Moodle
  <br>
  <br>
  <input type="button" style="background-color:#0066FF; border-collapse:collapse; border-radius:5px 5px; width:160px; height:40px; color:white; " onclick=location.href="{% url 'core:home' %}"; value="Home" />  

  <input type="button" style="background-color:#0066FF; border-collapse:collapse; border-radius:5px 5px; width:80px; height:40px; color:white; " onclick=location.href="{% url 'authentication:logout' %}"; value="Log out" /> 
    
  <!--<input type="button" style="background-color:#0066FF; border-collapse:collapse; border-radius:5px 5px; width:80px; height:40px; color:white; " onclick="location.href='http://127.0.0.1:8000/accounts/logout/';" value="Logout" /> -->

  
  <!--<input type="button" style="background-color:#0066FF; border-collapse:collapse; border-radius:5px 5px; width:160px; height:40px; color:white; " onclick="location.href='http://127.0.0.1:8000/password/';" value="Change Password" />-->
  <br>
  <br>
  </center>
  
  <style>
        .tab {
            display: inline-block;
            margin-left: 300px;
        }
    </style>
 <span class="tab">

    <h3>Password reset sent</h3>


    <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
    
    <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>

  {% endblock %}



